h2 {
    font-size: 1.5em;
}

#formWrapper label {
    font-size: 1em;
    color: black;
}

#formWrapper label strong {
    font-weight: 700;
}

Form {
    padding-bottom: 4px;
}

Form [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    background-color: #fff;
    border: 2px solid #fff;
}

Form [type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: #b3b3b3 2px solid ;
    background-color: #b3b3b3;
}

#raioDeAtuacao, select.pure-input-1.error {
    padding: 0 .6em;
}

.pure-control-group .pure-input-1 {
    background-color:white;
    height: 40px;
}

.pure-control-group .pure-input-1.error {
    border: solid red;
    height: 40px;
}

textarea#resumoDaEmpresa {
    height: 80px;
}

.pure-form-message.error {
    color: black;
    font-weight: 800;
    padding-bottom: 5px;
}

.button-add,
.button-remove {
    color: white;
    border-radius: 4px;
}

.button-remove {
    background: rgb(202, 60, 60);
    margin: 3px 2px;
}

.button-add {
    background: rgb(66, 184, 221)
}

.pure-button-primary {
    background: #004375;
    margin-top: 4px;
}

.midiaSocial-wrapper,
.areaDeAtuacao-wrapper {
    display: flex;
    flex-flow: column;
} 

.midiaSocial-input-wrapper,
.areaDeAtuacao-input-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}