#sidebar {
    flex-grow: 0;
    background-color: rgb(56,160, 182);
    overflow-y: scroll;
    position: relative;
    display: inline-grid;
    align-content: space-between;
}

h1 {
    font-size: 30px;
    line-height: 110%;
    margin-top: 5px;
}

.sidebar-header {
    margin: 0 auto;
    background-color: #e6e6e6;
    border: 10px solid #e6e6e6;
    border-top: 0;
}

img.logomsa {
    width: 75%;
    margin-left: 10%;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
}
 
.mapboxgl-ctrl-geocoder--input {
    position: relative;
    margin: 0;
    text-indent: 30px;
}  

.mapboxgl-ctrl-geocoder--icon {
    top: 6px;
    margin-top: 0px;
}

.tabs .tab a {
    color: black;
}

.tabs .tab a.active {
    color: rgb(207, 76, 76);
}

.tabs .tab a:hover {
    color: rgb(207, 76, 76);;
}

.tabs .tab a:focus {
    background-color: #fff
}

.tabs .tab a:focus.active {
    background-color: #fff
}

.tabs .indicator {
    background-color: rgb(207, 76, 76);;
    height: 5px;
}

.sidebar-footer {
    background-color: rgb(207, 76, 76);
}

.page-footer {
    padding: 0px;
    color: #fff;
    background-color: rgb(207, 76, 76);
}

.page-footer a { 
    color: #fff;
}

.page-footer p { 
    font-size: smaller;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.page-footer .btn-flat {
    text-transform: none;
    color: #fff;
}

@media only screen and (min-width: 993px){
    .page-footer .container {
        width: 95%;
    }
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    height: 35px;
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: box-shadow .3s, border .3s;
}
